.film-background {
  position: relative;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px !important;
  overflow: hidden;

  .movieNew-container {
    // padding-top: 30px;
    color: #000;
    .movieHome__title {
      // color: #032055;
      color: #31d7a9;
      font-weight: 700;
      .movieHome__titleBorder {
        height: 3px;
        &:nth-of-type(1) {
          background-color: #032055;
          bottom: -0.5px;
        }
        &:nth-of-type(2) {
          bottom: -4.5px;
        }
      }
    }
  }
  .currentFilm {
    justify-content: space-between;
    .currentFilm-info {
      font-size: 16px;
      color: #032055;
      font-size: 20px;
      .currentFilm-title {
        font-size: 25px;
        font-weight: 700;
      }
      .currentFilm-rate {
        margin-right: 30px;
      }
      .currentFilm-rate,
      .currentFilm-date {
        display: inline-block;
        i {
          margin-right: 5px;
        }
      }
      .currentFilmInfo-btn {
        a {
          padding: 8px 20px;
          border-radius: 20px;
          background-color: #032055;
          font-weight: 500;
          transition: box-shadow 0.3s;
          &:hover {
            color: #31d7a9;
            box-shadow: 0 5px 14px 0 #032055;
          }
        }
      }
    }
    .currentFilm-profileImg {
      text-align: right;
      .currentFilm-img {
        position: relative;
        margin: auto;
        width: 300px;
        height: 400px;
        box-shadow: 0px 0px 20px 3px #3a3a3a;
        border-radius: 20px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
        .video__button {
          border-radius: 10px;
          width: 60px !important;
          height: 60px !important;
          z-index: 1;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: #31d7a9;
          color: #ffffff;
          border: none;
          text-align: center;
          svg {
            position: relative;
            margin: 15px;
            font-size: 30px;
            line-height: 60px;
            color: #ffffff;
          }
        }
        .video__button:hover {
          box-shadow: 0px 0px 20px 0px #fff;
        }
      }
    }
  }
  .newMovieList {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #000;
    width: 100%;
    height: 390px;
    padding: 35px 0;
    .movieNewList {
      position: relative;
      .btn-changeSlide {
        position: absolute;
        top: 30%;
        font-size: 50px;
        font-weight: 700;
        cursor: pointer;
        opacity: 0.3;
        transition: opacity 0.5s;
        &:hover {
          opacity: 1;
        }
      }
      .movieNewList-prev {
        left: 0;
      }
      .movieNewList-next {
        right: 0;
      }
    }
    .movieList-content {
      padding: 0 20px;
      .movieList-container {
        position: relative;
        cursor: pointer;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 120%;
          background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.71),
            rgba(0, 0, 0, 0.6)
          );
          opacity: 1;
          transition: background-image 1s, opacity 0.5s;
        }
        &:hover {
          &:after {
            opacity: 0;
          }
        }
      }
      .active {
        &:after {
          background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.1)
          );
        }
      }
      .movieList-text {
        color: #fff;
        text-align: center;
        margin-top: 10px;
        h6 {
          margin-bottom: 0;
        }
        p {
          opacity: 0.5;
          margin-bottom: 0;
        }
      }
      .movieList-img {
        width: 100%;
        height: 280px;
        border-radius: 20px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .slick-dots,
    .slick-next,
    .slick-prev {
      display: none !important;
    }
  }
}
@import "helpers/variables.scss";
@import "helpers/mixin.scss";

@include maxResponsive("mid-large-down") {
  .film-background {
    height: 780px !important;
    .movieNew-container {
      padding-top: 0;
    }
    .currentFilm {
      justify-content: space-between;
      .currentFilm-info {
        font-size: 16px;
        color: #032055;
        padding: 0 15px!important;
        .currentFilm-title {
          font-size: 22px;
          font-weight: 700;
        }
        .currentFilmInfo-btn {
          a {
            padding: 8px 20px;
            border-radius: 20px;
            background-color: #032055;
            font-weight: 500;
            transition: box-shadow 0.3s;
            color: #31d7a9;
              box-shadow: 0 5px 14px 0 #032055;
          }
        }
      }
      .currentFilm-profileImg {
        text-align: right;
        .currentFilm-img {
          width: 220px;
          height: 300px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
          .video__button {
            border-radius: 10px;
            width: 50px !important;
            height: 50px !important;
            text-align: center;
            svg {
              margin: 12.5px;
              font-size: 25px;
              line-height: 50px;
            }
          }
          .video__button:hover {
            box-shadow: 0px 0px 20px 0px #fff;
          }
        }
      }
    }
    .newMovieList {
      height: 350px;
      .movieNewList {
        .btn-changeSlide {
          font-size: 40px;
        }
        .movieNewList-prev {
          left: 0;
        }
        .movieNewList-next {
          right: 0;
        }
      }
      .movieList-content {
        padding: 0 12px;
        .movieList-text {
          color: #fff;
          text-align: center;
          margin-top: 10px;
          h6 {
            font-size: 15px;
          }
        }
        .movieList-img {
          height: 260px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    
  }
}
@include maxResponsive("medium-down") {
  .film-background {
    height: 700px !important;
    .movieNew-container {
      padding-top: 0;
    }
    .currentFilm {
      justify-content: space-between;
      .currentFilm-info {
        font-size: 16px;
        color: #032055;
        padding: 0 15px!important;
        .currentFilm-title {
          font-size: 22px;
          font-weight: 700;
        }
        .currentFilmInfo-btn {
          a {
            padding: 8px 20px;
            border-radius: 20px;
            background-color: #032055;
            font-weight: 500;
            transition: box-shadow 0.3s;
            color: #31d7a9;
              box-shadow: 0 5px 14px 0 #032055;
          }
        }
      }
      .currentFilm-profileImg {
        text-align: right;
        .currentFilm-img {
          width: 220px;
          height: 300px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
          .video__button {
            border-radius: 10px;
            width: 50px !important;
            height: 50px !important;
            text-align: center;
            svg {
              margin: 12.5px;
              font-size: 25px;
              line-height: 50px;
            }
          }
          .video__button:hover {
            box-shadow: 0px 0px 20px 0px #fff;
          }
        }
      }
    }
    .newMovieList {
      height: 300px;
      padding: 25px 0;
      .movieNewList {
        .btn-changeSlide {
          font-size: 40px;
        }
        .movieNewList-prev {
          left: 0;
        }
        .movieNewList-next {
          right: 0;
        }
      }
      .movieList-content {
        padding: 0 12px;
        .movieList-text {
          color: #fff;
          text-align: center;
          margin-top: 10px;
          h6 {
            font-size: 15px;
          }
        }
        .movieList-img {
          height: 200px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    
  }
}
@include maxResponsive("small-down") {
  .film-background {
    height: 560px !important;
    .movieNew-container {
      .movieHome__title {
        .movieHome__titleBorder {
          &:nth-of-type(1) {
            bottom: 0px;
          }
          &:nth-of-type(2) {
            bottom: -4px;
          }
        }
      }
    }
    .currentFilm {
      .currentFilm-info {
        font-size: 12px;
        color: #032055;
        padding: 0 15px!important;
        .currentFilm-title {
          font-size: 18px;
          font-weight: 700;
        }
        .currentFilmInfo-btn {
          a {
            padding: 6px 12px;
            border-radius: 20px;
            background-color: #032055;
            font-weight: 500;
            transition: box-shadow 0.3s;
            color: #31d7a9;
              box-shadow: 0 5px 14px 0 #032055;
          }
        }
      }
      .currentFilm-profileImg {
        text-align: right;
        .currentFilm-img {
          width: 180px;
          height: 220px;
          border-radius: 10px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
          .video__button {
            border-radius: 10px;
            width: 40px !important;
            height: 40px !important;
            text-align: center;
            svg {
              margin: 10px;
              font-size: 20px;
              line-height: 40px;
            }
          }
          .video__button:hover {
            box-shadow: 0px 0px 20px 0px #fff;
          }
        }
      }
    }
    .newMovieList {
      height: 250px;
      padding: 20px 0;
      .movieNewList {
        .btn-changeSlide {
          font-size: 30px;
        }
        .movieNewList-prev {
          left: 5px;
        }
        .movieNewList-next {
          right: 5px;
        }
      }
      .movieList-content {
        padding: 0 15px;
        .movieList-text {
          color: #fff;
          text-align: center;
          margin-top: 10px;
          h6 {
            font-size: 12px;
          }
        }
        .movieList-img {
          height: 180px;
          border-radius: 10px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    
  }
}
@include maxResponsive("smallest") {
  .film-background {
    height: 560px !important;
    .currentFilm {
      .currentFilm-info {
        font-size: 12px;
        color: #032055;
        padding: 0 15px!important;
        .currentFilm-title {
          font-size: 18px;
          font-weight: 700;
        }
        .currentFilmInfo-btn {
          a {
            padding: 6px 12px;
            border-radius: 20px;
            background-color: #032055;
            font-weight: 500;
            transition: box-shadow 0.3s;
            color: #31d7a9;
              box-shadow: 0 5px 14px 0 #032055;
          }
        }
      }
      .currentFilm-profileImg {
        text-align: right;
        .currentFilm-img {
          width: 160px;
          height: 220px;
          border-radius: 10px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
          .video__button {
            border-radius: 10px;
            width: 40px !important;
            height: 40px !important;
            text-align: center;
            svg {
              margin: 10px;
              font-size: 20px;
              line-height: 40px;
            }
          }
          .video__button:hover {
            box-shadow: 0px 0px 20px 0px #fff;
          }
        }
      }
    }
    .newMovieList {
      height: 250px;
      padding: 20px 0;
      .movieNewList {
        .btn-changeSlide {
          font-size: 30px;
        }
        .movieNewList-prev {
          left: 5px;
        }
        .movieNewList-next {
          right: 5px;
        }
      }
      .movieList-content {
        padding: 0 15px;
        .movieList-text {
          color: #fff;
          text-align: center;
          margin-top: 10px;
          h6 {
            font-size: 12px;
          }
        }
        .movieList-img {
          height: 180px;
          border-radius: 10px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    
  }
}