.bookingHistory {
    margin-bottom: 30px;
    background: #032055;
    border-radius: 20px;
    justify-content: center;
    .title {
        border-bottom: 1px solid #11326f;
        margin-bottom: 20px;
    }
}
