.bookingHistory {
    width: 80%;
    background-color: #031f50c2;
    text-align: center;
    padding: 30px 50px;
    border-radius: 30px;
    position: relative;
    margin: auto;
    z-index: 10;
    transform-origin: top center;
    display: none;
    transform: scaleY(0);
    transition: transform .2s;
    margin-bottom: 30px;
    .booking-item{
        border: 2px solid #31d7a9;
        padding: 10px 30px;
        color: #fff;
        margin-top: 20px;
        border-radius: 20px;
        font-size: 18px;
        h5{
            color: #31d7a9;
            font-weight: 700;
            font-size: 30px;
        }
        .timeBooking{
            text-align: left;
            p{
                margin-bottom: 0;
                padding-left: 100px;
            }
        }
    }
}
.bookingHistory.show{
    display: block;
}
.bookingHistory.display{
    transform: scaleY(1);
}
