.modalNote{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.115);
    .modalBody{
        background-color: #fff;
        width: 30%;
        margin: auto;
        text-align: center;
        margin-top: 50px;
        padding: 20px;
    }
}