.form-update-password {
    position: relative;
            
            
    .password-item {
        align-items: center;
        position: relative;
        align-items: baseline;
        color: #031f50;
        font: normal normal normal 17px/1 FontAwesome;
        font-size: inherit;
        p {
            padding-left: 10px !important;
            position: relative;
            font-size: inherit;
            color: #031f50;
            font: normal normal normal 17px/1 FontAwesome;
        }
        .col-6{
            justify-items: left;
            .fa-lock {
                position: absolute;
                top: 50%;
                
                color: #031f50;
            }
            // input{
            //     padding-right: 40px;
            //     width: 180px;
            // }
            input {
                position: relative;
                width: 215px;
                border-top: none;
                border-right: none;
                border-left: none;
                border-bottom: 2px solid;
                color: #031f50;
                border-radius: 5px 5px 0 0;
                border-image: linear-gradient(to right, #031f50, transparent) 100% 1;
                &:focus-visible {
                    outline: none;
                }
            }
            input.error {
                border-color: rgb(250, 0, 0);
            }
            
        }
        i {
            position: absolute;
            top: 72%;
            right: 2px;
            z-index: 10;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }
        
    }
    .note {
        color: rgb(245, 9, 9);
        text-align: right;
    }
}
