#modalUserInfo {
    margin-top:20px;
    padding-right: 50px!important;
    // position: absolute;

    .modalContent {       
        margin-top:100px;
        height: fit-content;
        align-items: center;
    }
    .modal-content{
        width: 600px !important;
        .modal-footer {
            text-align: right;
            margin-top: 10px;
                .seatChose-btn {
                    padding: 8px 40px;
                    border-radius: 30px;
                    background-color: #031f50;
                    border: none;
                    font-size: 14px;
                    font-weight: 700;
                    color: #fff;
                }
                .seatChose-btn:hover {
                    box-shadow: 0px 7px 17px 0 #9eb1eb96;
            }
        }
    }
    
    .modalNote {
        background-color: #031f5080;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        text-align: center;
        line-height: 50%;
        h5 {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            color: #24d7a9;
        }
    }
    form  {
        
        flex-wrap: wrap;
        justify-content: space-between;
        .form-inputContainer {
        

            position: relative;
            align-items: center;
            i {
                // position: absolute;
                top: 50%;
                left: 8px;
                color: #031f50;
            }
            .inputStatus {
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
                color: #031f50;
                font-size: 12px;
                z-index: 10;
                width: 5px;
                height: 5px;
                i {
                    position: absolute;
                    top: 50%;
                    left: 0;
                }
                .fa-check {
                    color: #24d7a9;
                }
                .fa-exclamation-circle {
                    color: #d7b624;
                }
            }
            .inputStatus.error {
                i {
                    cursor: pointer;
                }
                .errorMessage {
                    width: 120px;
                    padding: 2px 5px;
                    display: none;
                    z-index: -10;
                    position: absolute;
                    top: 20px;
                    right: -15px;
                    background-color: #fff;
                    color: #d7b624;
                }
                &:hover {
                    .errorMessage {
                        display: block;
                        z-index: 10;
                    }
                }
            }
            input,
            textarea {
             
                width: 200px;
                border-top: none;
                border-right: none;
                border-left: none;
                border-bottom: 2px solid;
                color: #031f50;
                border-radius: 5px 5px 0 0;
                border-image: linear-gradient(to right, #031f50, transparent) 100% 1;
                &:focus-visible {
                    outline: none;
                }
                &:disabled {
                    background-color: transparent;
                    border-image: linear-gradient(to right, #ff0000, transparent) 100% 1;
                }
            }
            textarea {
                height: fit-content;
                width: 100%;
            }
            .selectFileUpload {
                padding: 5px 20px 5px 30px;
                width: 200px;
                margin-right: 15px;
                border-top: none;
                border-right: none;
                border-left: none;
                border-bottom: 2px solid;
                color: #031f50;
                border-radius: 5px 5px 0 0;
                border-image: linear-gradient(to right, #031f50, transparent) 100% 1;
            }
            select {
                width: 200px;
                padding: 5px 20px 5px 30px;
                border-top: none;
                border-right: none;
                border-left: none;
                color: #031f50;
                border-bottom: 2px solid;
                border-image: linear-gradient(to right, #031f50, transparent) 100% 1;
                &:focus-visible {
                    outline: none;
                }
            }
            select.error {
                border-image: linear-gradient(to right, #ff0000, transparent) 100% 1;
            }
        }
        #formTextArea {
            width: 100%;
            margin-bottom: 10px;
            .inputStatus {
                right: 30px;
                top: 0;
            }
            i {
                top: 18px;
            }
            textarea {
                max-height: 200px;
                resize: none;
                overflow: hidden;
            }
            textarea.active {
                overflow-y: scroll;
                scroll-snap-type: x mandatory;
            }
        }
        #movieNameForm,
        #movieTrailerForm {
            width: 100%;
            margin-bottom: 10px;
            input {
                width: 100%;
            }
        }
        #movieAdmin-uploadImg {
            text-align: center;
            vertical-align: middle;
            .inputStatus {
                right: -10px;
            }
            i {
                position: relative;
                margin-top: 100%;
                top: 0;
                left: 0;
            }
            button {
                padding: 0px 10px;
                border: none;
                border-radius: 5px;
                background-color: #24d7a9;
            }
            span.noteFile {
                margin-left: 10px;
            }
            img {
                width: 120px;
                height: 180px;
                transform-origin: center;
                transform: translateX(20%);
                border-radius: 10px;
            }
        }
    }
}
