#userModal .modalContent,
#movieAdminModal .modalContent {
  width: fit-content;
  margin: auto;
  height: fit-content;
}

#userModal .modal-footer button .spinner-border,
#movieAdminModal .modal-footer button .spinner-border {
  margin-left: 5px !important;
  width: 18px !important;
  height: 18px !important;
}

#userModal .modalNote,
#movieAdminModal .modalNote {
  background-color: #031f5080;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 50%;
}

#userModal .modalNote h5,
#movieAdminModal .modalNote h5 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #24d7a9;
}

#userModal #userInfo,
#userModal #movieInfo,
#movieAdminModal #userInfo,
#movieAdminModal #movieInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#userModal #userInfo .form-inputContainer,
#userModal #movieInfo .form-inputContainer,
#movieAdminModal #userInfo .form-inputContainer,
#movieAdminModal #movieInfo .form-inputContainer {
  position: relative;
}

#userModal #userInfo .form-inputContainer i,
#userModal #movieInfo .form-inputContainer i,
#movieAdminModal #userInfo .form-inputContainer i,
#movieAdminModal #movieInfo .form-inputContainer i {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  color: #031f50;
}

#userModal #userInfo .form-inputContainer .inputStatus,
#userModal #movieInfo .form-inputContainer .inputStatus,
#movieAdminModal #userInfo .form-inputContainer .inputStatus,
#movieAdminModal #movieInfo .form-inputContainer .inputStatus {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #031f50;
  font-size: 12px;
  z-index: 10;
  width: 5px;
  height: 5px;
}

#userModal #userInfo .form-inputContainer .inputStatus i,
#userModal #movieInfo .form-inputContainer .inputStatus i,
#movieAdminModal #userInfo .form-inputContainer .inputStatus i,
#movieAdminModal #movieInfo .form-inputContainer .inputStatus i {
  position: absolute;
  top: 50%;
  left: 0;
}

#userModal #userInfo .form-inputContainer .inputStatus .fa-check,
#userModal #movieInfo .form-inputContainer .inputStatus .fa-check,
#movieAdminModal #userInfo .form-inputContainer .inputStatus .fa-check,
#movieAdminModal #movieInfo .form-inputContainer .inputStatus .fa-check {
  color: #24d7a9;
}

#userModal #userInfo .form-inputContainer .inputStatus .fa-exclamation-circle,
#userModal #movieInfo .form-inputContainer .inputStatus .fa-exclamation-circle,
#movieAdminModal #userInfo .form-inputContainer .inputStatus .fa-exclamation-circle,
#movieAdminModal #movieInfo .form-inputContainer .inputStatus .fa-exclamation-circle {
  color: #d7b624;
}

#userModal #userInfo .form-inputContainer .inputStatus.error i,
#userModal #movieInfo .form-inputContainer .inputStatus.error i,
#movieAdminModal #userInfo .form-inputContainer .inputStatus.error i,
#movieAdminModal #movieInfo .form-inputContainer .inputStatus.error i {
  cursor: pointer;
}

#userModal #userInfo .form-inputContainer .inputStatus.error .errorMessage,
#userModal #movieInfo .form-inputContainer .inputStatus.error .errorMessage,
#movieAdminModal #userInfo .form-inputContainer .inputStatus.error .errorMessage,
#movieAdminModal #movieInfo .form-inputContainer .inputStatus.error .errorMessage {
  width: 120px;
  padding: 2px 5px;
  display: none;
  z-index: -10;
  position: absolute;
  top: 20px;
  right: -15px;
  background-color: #fff;
  color: #d7b624;
}

#userModal #userInfo .form-inputContainer .inputStatus.error:hover .errorMessage,
#userModal #movieInfo .form-inputContainer .inputStatus.error:hover .errorMessage,
#movieAdminModal #userInfo .form-inputContainer .inputStatus.error:hover .errorMessage,
#movieAdminModal #movieInfo .form-inputContainer .inputStatus.error:hover .errorMessage {
  display: block;
  z-index: 10;
}

#userModal #userInfo .form-inputContainer input,
#userModal #userInfo .form-inputContainer textarea,
#userModal #movieInfo .form-inputContainer input,
#userModal #movieInfo .form-inputContainer textarea,
#movieAdminModal #userInfo .form-inputContainer input,
#movieAdminModal #userInfo .form-inputContainer textarea,
#movieAdminModal #movieInfo .form-inputContainer input,
#movieAdminModal #movieInfo .form-inputContainer textarea {
  padding: 5px 20px 5px 30px;
  width: 200px;
  margin-right: 15px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid;
  color: #031f50;
  border-radius: 5px 5px 0 0;
  border-image: linear-gradient(to right, #031f50, transparent) 100% 1;
}

#userModal #userInfo .form-inputContainer input:focus-visible,
#userModal #userInfo .form-inputContainer textarea:focus-visible,
#userModal #movieInfo .form-inputContainer input:focus-visible,
#userModal #movieInfo .form-inputContainer textarea:focus-visible,
#movieAdminModal #userInfo .form-inputContainer input:focus-visible,
#movieAdminModal #userInfo .form-inputContainer textarea:focus-visible,
#movieAdminModal #movieInfo .form-inputContainer input:focus-visible,
#movieAdminModal #movieInfo .form-inputContainer textarea:focus-visible {
  outline: none;
}

#userModal #userInfo .form-inputContainer input:disabled,
#userModal #userInfo .form-inputContainer textarea:disabled,
#userModal #movieInfo .form-inputContainer input:disabled,
#userModal #movieInfo .form-inputContainer textarea:disabled,
#movieAdminModal #userInfo .form-inputContainer input:disabled,
#movieAdminModal #userInfo .form-inputContainer textarea:disabled,
#movieAdminModal #movieInfo .form-inputContainer input:disabled,
#movieAdminModal #movieInfo .form-inputContainer textarea:disabled {
  background-color: transparent;
  border-image: linear-gradient(to right, #ff0000, transparent) 100% 1;
}

#userModal #userInfo .form-inputContainer textarea,
#userModal #movieInfo .form-inputContainer textarea,
#movieAdminModal #userInfo .form-inputContainer textarea,
#movieAdminModal #movieInfo .form-inputContainer textarea {
  height: fit-content;
  width: 100%;
}

#userModal #userInfo .form-inputContainer .selectFileUpload,
#userModal #movieInfo .form-inputContainer .selectFileUpload,
#movieAdminModal #userInfo .form-inputContainer .selectFileUpload,
#movieAdminModal #movieInfo .form-inputContainer .selectFileUpload {
  padding: 5px 20px 5px 30px;
  width: 200px;
  margin-right: 15px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid;
  color: #031f50;
  border-radius: 5px 5px 0 0;
  border-image: linear-gradient(to right, #031f50, transparent) 100% 1;
}

#userModal #userInfo .form-inputContainer select,
#userModal #movieInfo .form-inputContainer select,
#movieAdminModal #userInfo .form-inputContainer select,
#movieAdminModal #movieInfo .form-inputContainer select {
  width: 200px;
  padding: 5px 20px 5px 30px;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #031f50;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #031f50, transparent) 100% 1;
}

#userModal #userInfo .form-inputContainer select:focus-visible,
#userModal #movieInfo .form-inputContainer select:focus-visible,
#movieAdminModal #userInfo .form-inputContainer select:focus-visible,
#movieAdminModal #movieInfo .form-inputContainer select:focus-visible {
  outline: none;
}

#userModal #userInfo .form-inputContainer select.error,
#userModal #movieInfo .form-inputContainer select.error,
#movieAdminModal #userInfo .form-inputContainer select.error,
#movieAdminModal #movieInfo .form-inputContainer select.error {
  border-image: linear-gradient(to right, #ff0000, transparent) 100% 1;
}

#userModal #userInfo #formTextArea,
#userModal #movieInfo #formTextArea,
#movieAdminModal #userInfo #formTextArea,
#movieAdminModal #movieInfo #formTextArea {
  width: 100%;
  margin-bottom: 10px;
}

#userModal #userInfo #formTextArea .inputStatus,
#userModal #movieInfo #formTextArea .inputStatus,
#movieAdminModal #userInfo #formTextArea .inputStatus,
#movieAdminModal #movieInfo #formTextArea .inputStatus {
  right: 30px;
  top: 0;
}

#userModal #userInfo #formTextArea i,
#userModal #movieInfo #formTextArea i,
#movieAdminModal #userInfo #formTextArea i,
#movieAdminModal #movieInfo #formTextArea i {
  top: 18px;
}

#userModal #userInfo #formTextArea textarea,
#userModal #movieInfo #formTextArea textarea,
#movieAdminModal #userInfo #formTextArea textarea,
#movieAdminModal #movieInfo #formTextArea textarea {
  max-height: 200px;
  resize: none;
  overflow: hidden;
}

#userModal #userInfo #formTextArea textarea.active,
#userModal #movieInfo #formTextArea textarea.active,
#movieAdminModal #userInfo #formTextArea textarea.active,
#movieAdminModal #movieInfo #formTextArea textarea.active {
  overflow-y: scroll;
  scroll-snap-type: x mandatory;
}

#userModal #userInfo #movieNameForm, #userModal #userInfo #movieTrailerForm,
#userModal #movieInfo #movieNameForm,
#userModal #movieInfo #movieTrailerForm,
#movieAdminModal #userInfo #movieNameForm,
#movieAdminModal #userInfo #movieTrailerForm,
#movieAdminModal #movieInfo #movieNameForm,
#movieAdminModal #movieInfo #movieTrailerForm {
  width: 100%;
  margin-bottom: 10px;
}

#userModal #userInfo #movieNameForm input, #userModal #userInfo #movieTrailerForm input,
#userModal #movieInfo #movieNameForm input,
#userModal #movieInfo #movieTrailerForm input,
#movieAdminModal #userInfo #movieNameForm input,
#movieAdminModal #userInfo #movieTrailerForm input,
#movieAdminModal #movieInfo #movieNameForm input,
#movieAdminModal #movieInfo #movieTrailerForm input {
  width: 100%;
}

#userModal #userInfo #movieAdmin-uploadImg,
#userModal #movieInfo #movieAdmin-uploadImg,
#movieAdminModal #userInfo #movieAdmin-uploadImg,
#movieAdminModal #movieInfo #movieAdmin-uploadImg {
  text-align: center;
  vertical-align: middle;
}

#userModal #userInfo #movieAdmin-uploadImg .inputStatus,
#userModal #movieInfo #movieAdmin-uploadImg .inputStatus,
#movieAdminModal #userInfo #movieAdmin-uploadImg .inputStatus,
#movieAdminModal #movieInfo #movieAdmin-uploadImg .inputStatus {
  right: -10px;
}

#userModal #userInfo #movieAdmin-uploadImg i,
#userModal #movieInfo #movieAdmin-uploadImg i,
#movieAdminModal #userInfo #movieAdmin-uploadImg i,
#movieAdminModal #movieInfo #movieAdmin-uploadImg i {
  position: relative;
  margin-top: 100%;
  top: 0;
  left: 0;
}

#userModal #userInfo #movieAdmin-uploadImg button,
#userModal #movieInfo #movieAdmin-uploadImg button,
#movieAdminModal #userInfo #movieAdmin-uploadImg button,
#movieAdminModal #movieInfo #movieAdmin-uploadImg button {
  padding: 0px 10px;
  border: none;
  border-radius: 5px;
  background-color: #24d7a9;
}

#userModal #userInfo #movieAdmin-uploadImg span.noteFile,
#userModal #movieInfo #movieAdmin-uploadImg span.noteFile,
#movieAdminModal #userInfo #movieAdmin-uploadImg span.noteFile,
#movieAdminModal #movieInfo #movieAdmin-uploadImg span.noteFile {
  margin-left: 10px;
}

#userModal #userInfo #movieAdmin-uploadImg img,
#userModal #movieInfo #movieAdmin-uploadImg img,
#movieAdminModal #userInfo #movieAdmin-uploadImg img,
#movieAdminModal #movieInfo #movieAdmin-uploadImg img {
  width: 120px;
  height: 180px;
  transform-origin: center;
  transform: translateX(20%);
  border-radius: 10px;
}
/*# sourceMappingURL=UserModal.css.map */