
@import "helpers/variables.scss";
@import "helpers/mixin.scss";


@include minResponsive("medium"){
    .btn-back{
        left: 94%!important;
        font-size:2.2rem!important;
    }
}
@include minResponsive("large"){
    .btn-back{
        left: 96%!important;
        font-size:2.4rem!important;
    }
}