.userInfoContent{
    .user__banner {
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 212px;
        padding-bottom: 112px;
        width: 100%;
        height: auto;
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, transparent, #001232);
        }
    }
    .userInfo{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 600px;
        margin: auto;
        padding: 20px;
        text-align: center;
        .userInfo-icon{
            padding: 20px;
            display: block;
            color: #fff;
            width: 150px;
            height: 150px;
            margin: auto;
            text-align: center;
            border-radius: 50%;
            background-color: rgba(204, 204, 204, 0.428);
            i{  
                color: rgba(255, 255, 255, 0.666);
                font-size: 120px;
                line-height: 100px;
            }
        }
        .item-account{
            color: #fff;
            font-size: 25px;
            p{
                color: #31d7a9;
                font-size: 40px;
                font-weight: 700;
                margin-bottom: 0;
            }
        }
        .userInfo-content{
            font-size: 30px;
            width: 450px;
            margin: auto;
            display: flex;
            justify-content: space-around;
            .userInfoIcon{
                position: relative;
                width: 30px;
                margin: auto;
                transition: all .3s ease;
                &:hover{
                    i{
                        color: #31d7a9;
                        transform: scale(1.1);
                    }
                    .noteHover{
                        display: block;
                    }
                }
            }
            .noteHover{
                display: none;
                font-size: 15px;
                position: absolute;
                background-color: #fff;
                bottom: -25px;
                left: 50%;
                padding: 2px 5px;
                width: 100px;
                
                border-radius: 5px;
                transform: translateX(-50%);
            }
            i{
                color: #fff;
                opacity: 0.8;
                cursor: pointer;
                transform: scale(1);
                transition: transform .3s color .3s;
            }
        }
        .formInputContent{
            transform-origin: top center;
            display: none;
            transition: transform .3s;
            transform: scale(0);
            .noteDescript{
                color: #fff;
            }
            .noteError{
                color: rgb(255, 0, 0);
            }
        }
        .formInput{
            display: flex;
            width: 350px;
            text-align: center;
            margin: auto;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            padding: 5px 15px;
            background-color: rgba(204, 204, 204, 0.428);
            border-radius: 10px;

            .formInput-title{
                color: #31d7a9;
                font-weight: 500;
                font-size: 15px;
            }
            .closeBtn{
                background-color: rgba(204, 204, 204, 0.428);
                border-radius: 50%;
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                color: rgb(255, 0, 0);
                transform: scale(1);
                transition: transform .3s;
                position: absolute;
                top: -10px;
                right: 95px;
                cursor: pointer;
                transition: all .3s ease;

                &:hover{
                    transform: scale(0.8);
                }
            }
            input{
                padding: 5px 10px;
                border: 2px solid #9eb1eb;
                border-radius: 10px;
                background-color: transparent;
                color: #31d7a9;
                width: 180px;
                &:focus-visible{
                    outline: none;
                    border: 2px solid #31d7a9;
                }
            }
            .updateInfor{
                padding: 5px 10px;
                color: #31d7a9;
                border: none;
                border-radius: 10px;
                font-size: 16px;
                margin-left: 5px;
            }
        }
        .formInputContent.display{
            display: block;
        }
        .formInputContent.show{
            transform: scale(1);
        }
        .userInfo-btn{
            border: none;
            border-radius: 20px;
            background-color: #31d7a9;
            padding: 6px 20px;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            margin-top: 30px;
            transition: all .3s ease;

            &:hover{
                box-shadow: 0 8px 15px 0 rgba(255, 255, 255, 0.66);
            }
        }
        small{
            padding-bottom: 0;
        }
    }
    .overPlay{
        position: relative;
        width: 100%;
        min-height: 100vh;
        z-index: -1;
    }
    .overPlay.show{
        height: 625px;
    }
}   

@import "helpers/variables.scss";
@import "helpers/mixin.scss";
@include maxResponsive("mid-large-down") {
    .userInfoContent{
        .overPlay{
            min-height: calc(100vh - 200px);
        }
        .overPlay.show{
            height: 600px;
        }
    }  
}
@include maxResponsive("large-down") {
    @media screen and (min-device-height: 768px) {
        .userInfoContent{
            .user__banner {
                padding-top: 212px;
                padding-bottom: 112px;
            }
            .userInfo{
                top: 20%;
                width: 420px;
                padding: 20px;
                .userInfo-icon{
                    padding: 20px;
                    width: 150px;
                    height: 150px;
                    i{  
                        font-size: 120px;
                        line-height: 100px;
                    }
                }
                .item-account{
                    font-size: 25px;
                    p{
                        font-size: 40px;
                    }
                }
                .userInfo-content{
                    font-size: 30px;
                    width: 350px;
                    .userInfoIcon{
                        width: 60px;
                    }
                    .noteHover{
                        font-size: 15px;
                        bottom: -25px;
                        padding: 2px 5px;
                        width: 100px;
                        border-radius: 5px;
                    }
                }
                .formInput{
                    width: 350px;
                    margin-top: 20px;
                    padding: 5px 15px;
                    .formInput-title{
                        font-size: 15px;
                    }
                    .closeBtn{
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        top: -10px;
                        right: 5px;
                    }
                    input{
                        padding: 5px 10px;
                        width: 180px;
                    }
                    .updateInfor{
                        padding: 5px 10px;
                        font-size: 16px;
                        margin-left: 5px;
                    }
                }
                .userInfo-btn{
                    border-radius: 20px;
                    padding: 6px 20px;
                    font-size: 18px;
                    margin-top: 30px;
                }
            }
            .overPlay{
                min-height: calc(100vh - 400px);
            }
            .overPlay.show{
                height: 625px;
            }
        }  
    }
    @media screen and (max-device-height: 420px) {
        .userInfoContent{
            .user__banner {
                padding-top: 212px;
                padding-bottom: 112px;
                height: 100vh;
            }
            .userInfo{
                top: 20%;
                width: 420px;
                padding: 20px;
                .userInfo-icon{
                    padding: 20px;
                    width: 100px;
                    height: 100px;
                    i{  
                        font-size: 70px;
                        line-height: 60px;
                    }
                }
                .item-account{
                    font-size: 18px;
                    p{
                        font-size: 25px;
                    }
                }
                .userInfo-content{
                    font-size: 20px;
                    width: 250px;
                    .userInfoIcon{
                        width: 30px;
                    }
                    .noteHover{
                        font-size: 12px;
                        bottom: -20px;
                        padding: 2px 3px;
                        width: 70px;
                        border-radius: 5px;
                    }
                }
                .formInput{
                    width: 300px;
                    margin-top: 20px;
                    padding: 5px 10px;
                    .formInput-title{
                        font-size: 14px;
                    }
                    .closeBtn{
                        font-size: 14px;
                        width: 18px;
                        height: 18px;
                        line-height: 18px;
                        top: -10px;
                        right: 30px;
                    }
                    input{
                        font-size: 14px;
                        padding: 3px 10px;
                        width: 165px;
                    }
                    .updateInfor{
                        padding: 5px 10px;
                        font-size: 14px;
                        margin-left: 5px;
                    }
                }
                .userInfo-btn{
                    border-radius: 20px;
                    padding: 6px 20px;
                    font-size: 14px;
                    margin-top: 30px;
                    box-shadow: 0 8px 15px 0 rgba(255, 255, 255, 0.66);
                }
            }
            .overPlay{
                min-height: calc(100vh - 20px);
            }
            .overPlay.show{
                height: 390px;
            }
        }  
    }
}

@include maxResponsive("medium-down") {
    .userInfoContent{
        .user__banner {
            padding-top: 212px;
            padding-bottom: 112px;
            height: 100vh;
        }
        .userInfo{
            top: 20%;
            width: 420px;
            padding: 20px;
            .userInfo-icon{
                padding: 20px;
                width: 100px;
                height: 100px;
                i{  
                    font-size: 70px;
                    line-height: 60px;
                }
            }
            .item-account{
                font-size: 18px;
                p{
                    font-size: 25px;
                }
            }
            .userInfo-content{
                font-size: 20px;
                width: 250px;
                .userInfoIcon{
                    width: 30px;
                }
                .noteHover{
                    font-size: 12px;
                    bottom: -20px;
                    padding: 2px 3px;
                    width: 70px;
                    border-radius: 5px;
                }
            }
            .formInput{
                width: 300px;
                margin-top: 20px;
                padding: 5px 10px;
                .formInput-title{
                    font-size: 14px;
                }
                .closeBtn{
                    font-size: 14px;
                    width: 18px;
                    height: 18px;
                    line-height: 18px;
                    top: -10px;
                    right: 30px;
                }
                input{
                    font-size: 14px;
                    padding: 3px 10px;
                    width: 165px;
                }
                .updateInfor{
                    padding: 5px 10px;
                    font-size: 14px;
                    margin-left: 5px;
                }
            }
            .userInfo-btn{
                border-radius: 20px;
                padding: 6px 20px;
                font-size: 14px;
                margin-top: 30px;
                box-shadow: 0 8px 15px 0 rgba(255, 255, 255, 0.66);
            }
        }
        .overPlay.show{
            height: 390px;
        }
    }  
}

@include maxResponsive("small-down") {
    .userInfoContent{
        .user__banner {
            padding-top: 212px;
            padding-bottom: 112px;
            height: 20vh;
        }
        .userInfo{
            top: 15%;
            width: 375px;
            padding: 20px;
            .userInfo-icon{
                padding: 20px;
                width: 100px;
                height: 100px;
                i{  
                    font-size: 60px;
                    line-height: 60px;
                }
            }
            .item-account{
                font-size: 16px;
                p{
                    font-size: 22px;
                }
            }
            .userInfo-content{
                font-size: 20px;
                width: 200px;
                .userInfoIcon{
                    width: 30px;
                }
                .noteHover{
                    font-size: 12px;
                    bottom: -20px;
                    padding: 2px 3px;
                    width: 70px;
                    border-radius: 5px;
                }
            }
            .formInput{
                width: 280px;
                margin-top: 20px;
                padding: 5px 10px;
                .formInput-title{
                    font-size: 12px;
                }
                .closeBtn{
                    font-size: 12px;
                    width: 15px;
                    height: 15px;
                    line-height: 15px;
                    top: -8px;
                    right: 22px;
                }
                input{
                    font-size: 12px;
                    padding: 3px 10px;
                    width: 160px;
                }
                .updateInfor{
                    padding: 5px 10px;
                    font-size: 12px;
                    margin-left: 5px;
                }
            }
            .noteDescript,.noteError{
                font-size: 12px;
            }
            .userInfo-btn{
                border-radius: 20px;
                padding: 5px 20px;
                font-size: 12px;
                margin-top: 30px;
                box-shadow: 0 8px 15px 0 rgba(255, 255, 255, 0.66);
            }
        }
        .overPlay{
            min-height: calc(100vh - 350px);
        }
        .overPlay.show{
            height: 430px;
        }
    }  
}
@include maxResponsive("smallest") {
    .userInfoContent{
        .user__banner {
            padding-top: 212px;
            padding-bottom: 112px;
            height: 20vh;
        }
        .userInfo{
            top: 15%;
            width: 300px;
            padding: 20px;
            .userInfo-icon{
                padding: 20px;
                width: 80px;
                height: 80px;
                i{  
                    font-size: 50px;
                    line-height: 40px;
                }
            }
            .item-account{
                font-size: 14px;
                p{
                    font-size: 20px;
                }
            }
            .userInfo-content{
                font-size: 20px;
                width: 180px;
                .userInfoIcon{
                    width: 30px;
                }
                .noteHover{
                    font-size: 12px;
                    bottom: -20px;
                    padding: 2px 3px;
                    width: 70px;
                    border-radius: 5px;
                }
            }
            .formInput{
                width: 250px;
                margin-top: 20px;
                padding: 5px 10px;
                .formInput-title{
                    font-size: 12px;
                }
                .closeBtn{
                    font-size: 12px;
                    width: 15px;
                    height: 15px;
                    line-height: 15px;
                    top: -8px;
                    right: 0px;
                }
                input{
                    font-size: 12px;
                    padding: 3px 10px;
                    width: 120px;
                }
                .updateInfor{
                    padding: 5px 10px;
                    font-size: 12px;
                    margin-left: 5px;
                }
            }
            .noteDescript,.noteError{
                font-size: 12px;
            }
            .userInfo-btn{
                border-radius: 20px;
                padding: 5px 20px;
                font-size: 12px;
                margin-top: 30px;
                box-shadow: 0 8px 15px 0 rgba(255, 255, 255, 0.66);
            }
        }
        .overPlay{
            height: 100vh;
        }
        .overPlay.show{
            height: 380px;
        }
    }  
}