.userInfoContent{
    .user__banner {
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 212px;
        padding-bottom: 112px;
        width: 100%;
        height: 100vh;
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, transparent, #001232);
        }
    }
    .userInfo{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        margin: auto;
        padding: 20px;
        text-align: center;
        .userInfo-icon{
            padding: 20px;
            display: block;
            color: #fff;
            width: 150px;
            height: 150px;
            margin: auto;
            text-align: center;
            border-radius: 50%;
            background-color: rgba(204, 204, 204, 0.428);
            i{  
                color: rgba(255, 255, 255, 0.666);
                font-size: 120px;
                line-height: 100px;
            }
        }
        .item-account{
            color: #fff;
            font-size: 25px;
            p{
                color: #31d7a9;
                font-size: 40px;
                font-weight: 700;
                margin-bottom: 0;
            }
        }
        .userInfo-content{
            font-size: 30px;
            width: 80%;
            margin: auto;
            display: flex;
            justify-content: space-around;
            .userInfoIcon{
                position: relative;
                width: 40%;
                margin: auto;
                &:hover{
                    i{
                        color: #31d7a9;
                        transform: scale(1.1);
                    }
                    .noteHover{
                        display: block;
                    }
                }
            }
            .noteHover{
                display: none;
                font-size: 15px;
                position: absolute;
                background-color: #fff;
                bottom: -25px;
                left: 50%;
                padding: 2px 5px;
                width: 100px;
                
                border-radius: 5px;
                transform: translateX(-50%);
            }
            i{
                color: #fff;
                opacity: 0.8;
                cursor: pointer;
                transform: scale(1);
                transition: transform .3s color .3s;
            }
        }
        .formInputContent{
            transform-origin: top center;
            display: none;
            transition: transform .3s;
            transform: scale(0);
            .noteDescript{
                color: #fff;
            }
            .noteError{
                color: rgb(255, 0, 0);
            }
        }
        .formInput{
            display: flex;
            width: 55%;
            text-align: center;
            margin: auto;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            padding: 5px 15px;
            background-color: rgba(204, 204, 204, 0.428);
            border-radius: 10px;

            .formInput-title{
                color: #31d7a9;
                font-weight: 500;
                font-size: 15px;
            }
            input{
                padding: 5px 10px;
                border: 2px solid #9eb1eb;
                border-radius: 10px;
                background-color: transparent;
                color: #31d7a9;
                width: 180px;
                &:focus-visible{
                    outline: none;
                    border: 2px solid #31d7a9;
                }
            }
            .updateInfor{
                padding: 5px 10px;
                color: #31d7a9;
                border: none;
                border-radius: 10px;
                font-size: 16px;
                margin-left: 5px;
            }
        }
        .formInputContent.display{
            display: block;
        }
        .formInputContent.show{
            transform: scale(1);
        }
        .userInfo-btn{
            border: none;
            border-radius: 20px;
            background-color: #31d7a9;
            padding: 6px 20px;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            margin-top: 30px;
            &:hover{
                box-shadow: 0 8px 15px 0 rgba(255, 255, 255, 0.66);
            }
        }
    }
    .overPlay{
        position: relative;
        width: 100%;
        height: 100vh;
        z-index: -1;
    }
    .overPlay.show{
        height: 625px;
    }
}   

