.theater-content{
    color:#fff;
    .movie__detail__theater {
        .header {
            justify-content: space-between;
            align-items: center;
            padding-bottom: 14px;
            border-bottom: 1px solid #11326f;
            margin-bottom: 30px;
        }
        .row {
            .icon-theater {
                .nav-link {
                    border: 1px solid #11326f;
                }
                .active {
                    background-color: #31d7a9;
                }
            }
            .col-8 {
                border-left: 2px solid #11326f;
                .movie__ticket {
                    
                    .ticket {
                        border-bottom: 1px solid #11326f;
                        .ticket__item {
                            color: #fff;
                            padding: 5px;
                            width: 70px;
                            background: #162f5f;
                            position: relative;
                            text-align: center;
                            // image: url(img/movie-ticket.png);
                            background-repeat: no-repeat;
                            cursor: pointer;
                            transition: all ease 0.3s;
                            margin: 5px;
                        }
                    }
                }
            }
        }
    }
}
