.movieItem {
  .movieItem-content {
    padding: 10px 10px;
    background-color: #032055;
    border-radius: 20px;
    height: 420px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    .movie-poster {
      position: relative;
      a {
        display: block;
        color: #fff;
        text-align: center;
        &:hover {
          text-decoration: none;
        }
        img {
          width: 100%;
          height: 300px;
          margin-bottom: 5px;
          border-radius: 10px;
        }
        margin-bottom: 15px;
      }
    }
    .movieItem-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 40px;
      padding: 0 10px;
      width: 100%;
      .date,
      .rate {
        display: inline-block;
        color: #fff;
      }
    }
  }
}
