.userLogin {
    position: relative;
    cursor: pointer;
    border: 2px solid #9eb1eb;
    border-radius: 30px;
    .dropbox {
        position: absolute;
        background-color:#111c59;
        color:#fff;
        top: 42px;
        border-radius: 20px;
        right: 0;
        width: fit-content;
        padding: 10px;
        transform-origin: top center;
        transform: scaleY(0.00001);
        transition: transform 0.5s;
        z-index: 10;
        ul {
            list-style-type: none;
            padding: 0;
            .item{
                margin-top: 5px;
            }
            .item:hover{
                color: #31d7a9; 
            }
        }
        ul:before{
            position: absolute;
            content: "";
            top: 0;
            left: 18px;
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
            width: 0;
            height: 0;
            border: 10px solid #0a1e5e;
            border-bottom-width: 11px;
            border-right-color: transparent;
            border-left-color: transparent;
            border-top-color: transparent;
        }
    }
    
    .active {
        transform: scaleY(1);
    }
}
.userLogin:hover{
    box-shadow: 0px 10px 15px 0px #3b37bc;
   
}
