/* Mixin */
/* Set các giá trị với màn hình tương ứng */
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 992px;

@mixin mobile {
    @media (max-width: #{$mobile -width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}
a {
    color: #fff;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    display: flex;
}
@include tablet {
    h3 {
        font-size: 36px;
        margin-top: -10px;
    }
}
body {
    background-color: #001232;
}
.details__banner {
    padding-top: 235px;
    padding-bottom: 20px;
    position: relative;
    background-repeat: round;
    background-size: contain;
    .details__banner__wrapper {
        position: relative;
        z-index: 1;
        .details__banner__img {
            @include desktop {
                width: calc(32% - 28px);
                display: block;
            }
            img {
                width: 292px;
                height: 292px;
            }
            position: absolute;
            top: 10px;
            left: 0;
            display: none;
            overflow: hidden;
            border-radius: 12px;
            background: #032055;
            padding: 14px;
            // img {
            //     width: 100%;
            //     border-radius: 12px;
            // }

            .video__button {
                border-radius: 10px;
                width: 70px;
                height: 70px;
                z-index: 1;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: #31d7a9;
                color: #ffffff;
                border: none;
                text-align: center;
                svg {
                    line-height: 70px;
                    font-size: 36px;
                    margin-left: 8px;
                    color: #ffffff;
                }
            }
            .video__button::before {
                z-index: -10;
                animation: inner-ripple 2000ms linear infinite;
                @keyframes inner-ripple {
                    from {
                    }
                }
            }
            .video__button::before,
            .video__button::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                border-radius: 10px;
                background-color: #31d7a9;
                z-index: -10;
            }
            .video__button::after {
                z-index: -10;
                animation: outer-ripple 2000ms linear infinite;
            }
            .video__popup {
                width: 81px;
                height: 81px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                width: 60px !important;
                height: 60px !important;
                svg {
                    display: flex;
                    font-size: 30px;
                    line-height: 60px;
                    margin: 15px;
                }
            }
        }
        .details__banner__img::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0, 18, 50, 0.4);
        }
        .details__banner__content {
            .card-title {
                font-weight: 700;
                font-size: 40px;
                margin: 0;
                line-height: 1.3;
                color: #ffffff;
            }
            .tags {
                margin-bottom: 30px;
                margin-top: 10px;
                a {
                    font-size: 14px;
                    color: #9aace5;
                    text-transform: uppercase;
                    font-weight: 400;
                    border: 1px solid #9aace5;
                    border-radius: 10px;
                    padding: 5px 10px;
                    margin-right: 10px;
                }
                a:hover {
                    color: #31d7a9;
                    border-color: #31d7a9;
                    text-decoration: none;
                }
            }
            .button {
                margin-bottom: 13px;
                border: 1px solid rgba(163, 177, 198, 0.2);
                font-size: 15px;
                color: #9aace5;
                text-transform: uppercase;
                padding: 7px 17px;
                border-radius: 18px;
                -webkit-transition: all ease 0.3s;
                transition: all ease 0.3s;
            }
            .button:hover {
                text-decoration: none;
                box-shadow: 0px 10px 15px 0px rgba(59, 55, 188, 50%);
            }
            .time-social {
                display: flex;
                justify-content: space-between;
                padding-top: 30px;
                .social {
                    margin: -5px -5px 0;
                    li {
                        padding: 0;
                        margin: 5px;
                        a {
                            color: #fff;
                            padding: 5px;
                            font-size: 14px;
                            border: 1px solid #032055;
                            background: #032055;
                            width: 40px;
                            height: 40px;
                            text-align: center;
                            border-radius: 50px;
                        }
                        a:hover {
                            color: #31d7a9;
                        }
                    }
                }
                .time {
                    font-size: 16px;
                    color: #dce4ff;
                    margin: 5px 10px;
                }
            }
        }
    }
}
.details__banner::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: -webkit-linear-gradient(270deg, rgba(0, 18, 50, 0.134891) 0%, #001232 90%);
}
.book-tickets {
    .book-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: -30px;
        background: #032055;
        box-shadow: 0px 0px 20px 0px rgba(59, 55, 188, 50%);
        padding: 10px;
        border-top: 3px solid #31d7a9;
        .left-side {
            display: flex;
            padding: 17px;

            .item {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                margin: 10px 15px;
                text-align: center;
                font-size: 23px;
                .star {
                    color: #31d7a9;
                }
            }
        }
    }
}
.detail__descrip {
    padding-top: 120px;
    padding-bottom: 120px;
    color: #fff;
    .description {
        .tab-menu {
            padding: 10px 0;
            border-bottom: 1px solid #11326f;
            .active {
                color: #31d7a9;
                background-color: #001232;
            }
            a {
                color: #fff;
            }
        }
    }
    .movie__detail__theater {
        .header {
            justify-content: space-between;
            align-items: center;
            padding-bottom: 14px;
            border-bottom: 1px solid #11326f;
            margin-bottom: 30px;
        }
        .row {
            .icon-theater {
                .nav-link {
                    border: 1px solid #11326f;
                }
                .active {
                    background-color: #31d7a9;
                }
            }
            .col-10 {
                border-left: 2px solid #11326f;
                .movie__ticket {
                    img {
                        border-radius: 20%;
                    }
                    .ticket {
                        border-bottom: 1px solid #11326f;
                        .ticket__item {
                            color: #fff;
                            padding: 5px;
                            width: 70px;
                            background: #162f5f;
                            position: relative;
                            text-align: center;
                            // image: url(img/movie-ticket.png);
                            background-repeat: no-repeat;
                            cursor: pointer;
                            transition: all ease 0.3s;
                            margin: 5px;
                        }
                    }
                }
            }
        }
    }
    .title {
        margin-bottom: 22px;
    }
    .widget-1 {
        margin-bottom: 40px;
        .offer-body {
            .offer-item {
                border: 1px solid #032055;
                background: #032055;
                border-radius: 10px;
                padding: 20px 20px 28px;
                margin-bottom: 30px;
                .top {
                    margin-bottom: 33px;
                }
                .bottom {
                    h6 {
                        font-size: 16px;
                        font-weight: 400;
                        // font-family: open sans, sans-serif;
                        margin-bottom: 17px;
                    }
                    a:hover {
                        color: #31d7a9;
                    }
                    p {
                        color: #9aace5;
                        font-size: 13px;
                        line-height: 18px;
                        margin: 0;
                    }
                }
            }
        }
    }
}
