.Carousel-container {
  position: relative;
  width: 100%;
  .arrow-prev {
    left: 3%;
  }
  .arrow-next {
    right: 3%;
  }
  .arrow-next,
  .arrow-prev {
    position: absolute;
    top: 40%;
    z-index: 10;
    text-align: center;
    color: #fff;
    // font-size: 70px;
    opacity: 0.5;
    transition: opacity 0.3s;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  .Carousel-content {
    position: relative;
    // height: 800px;
    .carousel {
      position: absolute;
      top: 0;
      left: 0;
      div {
        opacity: 0;
        transition: opacity 1s;
      }
    }
    .active {
      z-index: 5;
      div {
        opacity: 1;
      }
      .carousel-text {
        h1 {
          animation: displayText 1.3s linear 1.2s 1;
          animation: name duration timing-function delay iteration-count
            direction fill-mode;
        }
        .carousel-descript {
          animation: displayText 1.3s linear 1.2s 1;
        }
      }
    }
    .carousel-text {
      position: absolute;
      bottom: 5%;
      left: 30%;
      width: 50%;
      text-align: left;
      color: #fff;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

@import "helpers/mixin.scss";
@import "helpers/variables.scss";

@include maxResponsive("small-down") {
  .Carousel-container {
    .arrow-next,
    .arrow-prev {
      font-size: 40px;
    }
    .Carousel-content {
      height: 400px;
    }
  }
}
@include minResponsive("small") {
  .Carousel-container {
    .arrow-next,
    .arrow-prev {
      font-size: 50px;
    }
    .Carousel-content {
      height: 600px;
    }
  }
}
@include minResponsive("large") {
  .Carousel-container {
    .arrow-next,
    .arrow-prev {
      font-size: 70px;
    }
    .Carousel-content {
      height: 800px;
    }
  }
}

@include minResponsive("extra-large") {
  .Carousel-container {
    .arrow-next,
    .arrow-prev {
      font-size: 70px;
    }
    .Carousel-content {
      height: 900px;
      height: 90vh;
    }
  }
}