.checkout__banner {
    padding-top: 400px;
    padding-bottom: 20px;
    position: relative;
    background-repeat: round;
    background-size: contain;
    .theater__banner__content {
        text-align: center;
        position: relative;
        z-index: 1;
        .title {
            text-transform: capitalize;
            color: #fff;
            font-size: 55px;
            text-transform: uppercase;
            margin-bottom: -30px;
        }
        .tags {
            margin-bottom: 30px;
            margin-top: 40px;
            a {
                font-size: 14px;
                color: #9aace5;
                text-transform: uppercase;
                font-weight: 400;
                border: 1px solid #9aace5;
                border-radius: 10px;
                padding: 5px 10px;
                margin-right: 10px;
            }
            a:hover {
                color: #31d7a9;
                border-color: #31d7a9;
                text-decoration: none;
            }
        }
    }
}
.checkout__banner::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: -webkit-linear-gradient(270deg, rgba(0, 18, 50, 0.134891) 0%, #001232 90%);
}
.page-title {
    padding: 13px 0;
    margin: 23px 0;
    background-color: #032055;
    color: #9EB1EB;
    .page-title-content {
        display: flex;
        justify-content: center;
        align-items: center;
        .item-title {
            display: flex;
            align-items: center;
            .theater-date {
                font-size: 20px;
                margin-right: 80px;
            }
            .theater-time {
                background-color: #001232;
                padding: 8px 30px;
                font-size: 16px;
                border-radius: 25px;
                box-shadow: 0px 10px 20px 0px #3b37bc;
            }
        }
    }
}
.checkout-content {
    color: #fff;
    margin-top: 65px;
    .checkout-card {
        padding: 30px;
        margin-bottom: 30px;
        background: #032055;
        border-radius: 20px;
        h5 {
            border-bottom: 1px solid #11326f;
            padding-bottom: 23px;
            margin-bottom: 20px;
        }
        .payment-card {
            justify-content: space-between;
            margin-bottom: -14px;
            input {
                height: 50px;
                border-radius: 10px;
                border: 1px solid #11326f;
                background: 0 0;
                border: 1px solid #2d4186;
                padding-left: 10px;
            }
        }
    }
    .ticket-selected {
        position: relative;
        padding: 30px;
        padding-bottom: 10px;
        // margin-top: 60px;
        border-radius: 20px;
        background-color: #032055;
        .title {
            text-align: center;
            border-bottom: 1px dashed #11326f;
            padding-bottom: 23px;
            margin-bottom: 35px;
            font-size: 28px;
            margin-top: 10px;
        }
        .item-detail {
            border-bottom: 1px solid #11326f;
            list-style: none;
            li {
                margin-bottom: 35px;
                .subtitle {
                    text-transform: uppercase;
                    justify-content: space-between;
                    margin-bottom: 7px;
                    display: flex;
                }
                .info {
                    display: flex;
                    justify-content: space-between;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: #9aace5;
                }
            }
        }
        .button {
            text-align: center;
            .seatChose-btn {
                padding: 8px 40px;
                border-radius: 30px;
                background-color: #9eb1eb;
                border: none;
                font-size: 19px;
                font-weight: 700;
                color: #fff;
                margin-bottom: 15px;
            }
            :hover {
                box-shadow: 0px 7px 17px 0 #9eb1eb96;
            }
        }
    }::before {
        width: 48px;
        height: 48px;
        background-color: #001232;
        border-radius: 50%;
        left: 43%;
        top:-22px;
    }
    .ticket-selected::after {
        width: 48px;
        height: 48px;
        background-color: #001232;
        border-radius: 50%;
        left: 43%;
        bottom:-22px;
    }
}   
