.userAccount-container {
  margin-bottom: 20px;
  input {
    width: 400px;
  }
  .userList {
    min-height: calc(100vh - 281px);
  }
  table {
    width: 100%;
    th,
    td {
      vertical-align: middle;
      padding: 10px 5px;
      text-align: center;
      vertical-align: middle;
      &:nth-of-type(1) {
        width: 5%;
      }
      &:nth-of-type(2) {
        width: 15%;
      }
      &:nth-of-type(3) {
        width: 15%;
      }
      &:nth-of-type(4) {
        width: 15%;
      }
      &:nth-of-type(5) {
        width: 20%;
      }
      &:nth-of-type(6) {
        width: 10%;
      }
      &:nth-of-type(7) {
        width: 25%;
      }
    }
  }
}

@import "helpers/variables.scss";
@import "helpers/mixin.scss";
@include maxResponsive("large-down") {
  @media screen and (min-device-height: 768px) {
    .userAccount-container {
      table {
        th,
        td {
          padding: 5px;
          &:nth-of-type(6) {
            display: none;
          }
          &:nth-of-type(1) {
            width: 5%;
          }
          &:nth-of-type(2) {
            width: 15%;
          }
          &:nth-of-type(3) {
            width: 20%;
          }
          &:nth-of-type(4) {
            width: 20%;
          }
          &:nth-of-type(5) {
            width: 25%;
          }
          &:nth-of-type(7) {
            width: 10%;
          }
          button {
            font-size: 15px;
          }
          &:last-of-type {
            width: 25%;
          }
        }
      }
    }
  }
  @media screen and (max-device-height: 420px) {
    .userAccount-container {
      button {
        font-size: 15px;
      }
      input {
        width: 290px;
      }
      table {
        font-size: 15px;
        th,
        td {
          padding: 5px;
          &:nth-of-type(6) {
            display: none;
          }
          &:nth-of-type(1) {
            width: 5%;
          }
          &:nth-of-type(2) {
            width: 15%;
          }
          &:nth-of-type(3) {
            width: 20%;
          }
          &:nth-of-type(4) {
            width: 20%;
          }
          &:nth-of-type(5) {
            width: 25%;
            display: none;
          }
          &:nth-of-type(7) {
            width: 10%;
          }
          button {
            font-size: 15px;
          }
          &:last-of-type {
            width: 25%;
          }
        }
      }
    }
  }
}
@include maxResponsive("medium-down") {
  .userAccount-container {
    button {
      font-size: 14px;
    }
    input {
      width: 290px;
    }

    table {
      font-size: 14px;
      th,
      td {
        padding: 5px;
        &:nth-of-type(6) {
          display: none;
        }
        &:nth-of-type(1) {
          width: 5%;
        }
        &:nth-of-type(2) {
          width: 15%;
        }
        &:nth-of-type(3) {
          width: 20%;
        }
        &:nth-of-type(4) {
          width: 20%;
        }
        &:nth-of-type(5) {
          width: 25%;
          display: none;
        }
        &:nth-of-type(7) {
          width: 10%;
        }
        button {
          font-size: 14px;
        }
        &:last-of-type {
          width: 25%;
        }
      }
    }
  }
}
@include maxResponsive("small-down") {
  .userAccount-container {
      .userList {
        min-height: calc(100vh - 243px);
      }
    button {
      font-size: 14px;
    }
    input {
      width: 175px;
      font-size: 14px;
    }
    table {
      font-size: 14px;
      th,
      td {
        padding: 5px;
        &:nth-of-type(6) {
          display: none;
        }
        &:nth-of-type(1) {
          width: 5%;
        }
        &:nth-of-type(2) {
          width: 15%;
        }
        &:nth-of-type(3) {
          width: 20%;
        }
        &:nth-of-type(4) {
          width: 20%;
          display: none;
        }
        &:nth-of-type(5) {
          width: 25%;
          display: none;
        }
        &:nth-of-type(7) {
          width: 10%;
        }
        button {
          font-size: 14px;
        }
        &:last-of-type {
          width: 25%;
        }
      }
    }
  }
}
@include maxResponsive("smallest") {
    .userAccount-container {
      .userList {
        min-height: calc(100vh - 238px);
      }
        .pagination-container{
            padding-left: 0;
            .pagination-item{
              font-size: 12px;
                margin: auto 0px;
            }
        }
      button {
        font-size: 12px;
      }
      input {
        width: 125px;
        font-size: 14px;
      }
      table {
        font-size: 12px;
        th,
        td {
          padding: 5px;
          &:nth-of-type(6) {
            display: none;
          }
          &:nth-of-type(1) {
            width: 5%;
          }
          &:nth-of-type(2) {
            width: 15%;
          }
          &:nth-of-type(3) {
            width: 20%;
          }
          &:nth-of-type(4) {
            width: 20%;
            display: none;
          }
          &:nth-of-type(5) {
            width: 25%;
            display: none;
          }
          &:nth-of-type(7) {
            width: 10%;
          }
          button {
            font-size: 12px;
          }
          &:last-of-type {
            width: 25%;
          }
        }
      }
    }
  }
